.Notification-wrapper {
    background-color: #F8F9FA;
    height: 100%;
    width: 94%;
    border-radius: 10px;
    margin: 15px 10px 0px;
    display: flex;
    flex-direction: column;

}
.Noti-Title {
    color: #726D81;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    padding-top: 15px;
}


.Noti-Content {
    margin-top: 15px;
    display: flex;
    text-decoration: none;
}
.Noti-Content:hover {
    text-decoration: underline;
    opacity: 0.8;
}
.arr-img {
    height: 10px;
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 5px;
    flex: left;
}
.Content-Title {
    color: #1375E7;
    flex: right;
}