.ClassDetail_body{
    /* background-image:  url('./uit1.jpg');
    background-repeat: no-repeat; */
    position: relative;
  
}
.contentView{
    background-color: aliceblue;
    position: relative;
    z-index: 1;
    height: 100%;
    
    display: flex;
    padding-top: 100px;
    padding-bottom: 50px;
    bottom: 0;
   
}
.groub-contentView{
    background-color: rgba(red, green, blue, 0.0);
    padding-top:70% ;
}
.class-item{
    
    justify-content: center;
   
    margin-top: 200px;
    width: 40%;
   
}
.class-title{
    font-size: 150px;
    display: flex;
    justify-content: center;
}
.class-logo-courses{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}
.class-list-courses{
    height: 1000px;
    width: 60%;
    overflow: auto;
    scroll-behavior: smooth;
}
.Header-class{
    top: 0;
    position: fixed;
   
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Màu nền với độ mờ 0.5 */
  }
.view-class{
    position: fixed;
  top: 0;
  left: 0;
  margin-top: 50px;
  width: 100%;
  height: 100%;
  
  
}
.slogan_message{
    color: #fff;
    font-size: 80px;
    display: flex;
    margin-left: 60%;
    width: 40%;
    margin-top: 3%;
}

.navigation {
    margin-top: 30px;
    height: 600px;
    width: 1500px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
   
    top: 50%;
    left: -50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: left 1s ease;
  }
  
  .naviObject {
    height: 100%;
    width: 100%;
    top: -100%;
    position: absolute;
    z-index: 2;
    overflow: hidden;
  }
  
  .naviObject.open .navigation {
    left: 0; /* Hiển thị navigation tại vị trí ban đầu */
  }
  
.view-item{
    position: fixed;
    width: 100%;
}
.slogan{
    font-size: 1000px;
    height: 100%;
    padding-top:1000px;
}
.ClassDetail_wrapper{
    width: 100%;
    padding:16px;
    box-sizing: border-box;

    
}

.ClassDetail_Header {
    margin:29px;
    font-size: 35px;
    font-weight: 600;
}

.ClassDetail_Content {
    border-bottom: 1px solid #dee2e6;
    margin-top: 0.625rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 18px;
    border-radius: 10px;
    border-left-style: solid;
    border-left-color: #006aa5;
}

.List-content {
    list-style: none;
    margin:16px;
}

.List-item {

    padding: 0.2em;
    clear: both;
}
.Item-title {
    display: inline-block;
    text-decoration: none;
    color: #000;
    background-color: transparent;
}
.activityicon {
    margin-right: 6px;
    vertical-align: text-bottom;
}
.Item-title:hover {
    color: rgb(77, 72, 72);
    text-decoration: underline;
}
.Content-title {
    margin-bottom: 0.5rem;
    line-height: 1.2;
    margin-top: 0;
    font-size: 1.640625rem;
    background-color: #006aa5;
    margin-left: inherit;
    padding: 3px 50px;
    color: white;
}
@media (min-width: 576px) {
    .List-content {
        margin: 1rem;
    }
    
}
.footer{
    height: 500px;
    background-color: #006aa5;
}