.homeScreen_js{
  height: 100%;
}
.Header-Home {
  background-color: transparent;
  position: fixed;
  z-index: 3;
}

.Body-Home {
  min-height: 100%;
  max-height: none;
  display: grid;
  grid-template-columns:  5fr;
  width: 100%;
}
.MainContent-Home{
  background-color: #F8F9FA;
  border-radius: 10px;
  height: auto;
  padding-bottom: 30px;
}

.hidden {
  display: none;
}

.Right-Cont {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .Main-Content {
    flex-basis: 100%;
  }
  .Right-Cont {
    display: none;
  }
}