.Profile_wrapper {
    height: auto;
}
.Title {
    font-size: 35px;
    font-weight: 600;
    margin: 29px;
}
.Student_wrapper {
    width: 100%;
    display: flex;
    height: 10%;

}
.Avatar_Profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 40px;
    cursor: pointer;
    /* flex-grow: 1; */
}
.Name_ID_wrapper {
    margin-top: 10px;
}
.Student_name {
    font-size: 35px;
    color: #31A4E5;
    font-weight: 700;
}
.Student_ID {
    margin-top: 5px;
    font-size: 22px;
    font-weight: 500;
}
.Info_Wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.btn_radius {
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    margin-right: 30px;
    margin-top: 30px;
    margin-left: auto;
    
}

.Edit_btn_profile_wrapper { 
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    line-height: 30px;
}
.Edit_btn_profile:hover{
    cursor: pointer;
    opacity: 0.7;
    background-color: #066ca6;
}

.Edit_btn_profile {
    background-color: #31A4E5;
    color: #fff;
    height: 30px;
    border: solid 2px #000;
    text-align: center;
    padding: 0px 10px;
}

.Show_Result_btn {
    text-decoration: none;
    color: #fff;
}
.Info_Profile {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 1.5;
    border: solid 2px #000;
}
.Text_Info_first {
    margin: 30px 20px 0px;
}
.Text_Info {
    margin: 0px 20px;
}
.Text_Info_final {
    margin: 0px 20px 30px;
}
.Info_Bar_Wrapper {
    display: grid;
    grid-template: auto/ auto auto auto;
    column-gap: 80px;
    justify-content: left;
}
.Info_Bar {
    margin-top: 10px;
}
.Infobar-input {
    font-size: 18px;
    margin-top: 5px;
}

.Infobar-input[readonly] {
    background-color: #f5f5f5; /* Màu nền xám */
    cursor: default; /* Hiển thị con trỏ không cho phép */
    border-color: aliceblue;
}

.Infobar-input[readonly]:focus {
    outline: none;
}