.MainCourse_Title {
    font-size: 40px;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 20px;
}
.MainCourse_Search {
    justify-content: center;
    display: flex;
}
.Searchbar {
    height: 50px;
    width: 323px;
    box-sizing: border-box;
    border: 3px solid #0A7ACC;
    margin: 30px 0px;
    border-radius: 5px 0px 0px 5px;
}
.Searchbar-input{
    height: 95%;
    width: 100%;
    border: none;
    outline: none;
    font-size:larger;
    padding-left: 5px;
}

.Searchbox {
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    background-color: #0A7ACC;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 5px 5px 0px;
}
.Searching {
    height: 28px;
}

.Courses_Wrapper {
    display: grid;
    grid-template: auto/ auto auto auto;
    column-gap: 20px;
    justify-content: center;
    margin: 0px 5px;
}
.Course {
    /* width: 290px;
    height: 135px; */
    border-radius: 10px;
    margin-top: 24px;
    cursor: pointer;
}
.Course:hover {
    transition-duration: 0.3s;
    transform: scale(1.1);
}
.Gryffindor {
    background-color: #DA4949;
}
.Ravenclaw {
    background-color: #31A4E5;
}
.Slytherin {
    background-color: #367E18;
}
.Hufflebuff {
    margin-top: 24px;
    background-color: #F4BF39;
}
.Course_Title {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    margin-left: 15px;
    margin-top: 5px;
}
.Course_Lecturer {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    margin-top: 15px;
    margin-left: 15px;
}
.Course_Icon {
    text-align: right;
}
.Icon-img {
    height: 55px;
    margin-right: 10px;
}
@media only screen and (max-width: 1024px) {
    
    .Courses_Wrapper {
        display: grid;
        grid-template: auto/ auto auto;
        column-gap: 20px;
        justify-content: center;
    }
    .Searchbar
    {
        flex-grow: 1;
        margin-left: 10px;
    }
    .Searchbox
    {
        margin-right: 10px;
    }
}