.MainCourse {
    height: 100vh;
    width: 100%;
    
}
.slogan_message {
    color: #fff;
    font-size: 60px;
    display: flex;
    margin-left: 55%;
    width: 40%;
    margin-top: 10%;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
}
.slogan_message.visible .slogan_message{
   
    transition: transform 0.5s ease;
  }

.navigation_Home {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0%;
    left: -100%;
    transform: translate(-0%, -0%); 
    z-index: 2;
    transition: left 1s ease;
  }
.naviObject_Home {
    height: 100%;
    width: 100%;
    top: -100%;
    position: absolute;
    z-index: 2;
    overflow: hidden;
}
.naviObject_Home.scrolled .navigation_Home{
    width: 100%;
    left: -50%;
    transition: left 0.5s ease,background-color 2s ease;
    
}
.naviObject_Home.scrolled2 .navigation_Home{
    width: 100%;
    left: 0;
    background-color: #dad5d5;
    
    
}




.scroll-content {
    display: none;
    color: #fff;
    font-size: 50px;
    margin-left: 500px;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .naviObject_Home.scrolled .scroll-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1; 
    border: none;
}
  
  
.video-container video {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
}

.content-wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin-top: 100%;
    z-index: 2;
  }

.content-section {
   
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
    width: 50%;
    margin-top: 20px;
    color: #fff;
    font-size: 50px;
    margin-bottom: 100px;
}

.content-body {
    margin-top: 350px;
}

.content-info{
    font-size: 30px;
    
}
.content-info2{
    font-size: 26px;
    position: relative;
    margin-right: 20px;
    margin-top: 45px;
    grid-column: 2;   
}

.triangle-right{
    width: 100px;
    border-width: 100px;
    border-color: transparent transparent transparent rgb(21, 94, 163);
    border-style: solid;
    display: block;
  }
.MISSION{
  
    display: flex;
    color: rgb(214, 212, 212);
    font-size: 100px;
}
.Mission-title{
    padding-left: 32px;
    background-color: rgb(21, 94, 163);
}
.Mission-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.img-misson{
    width: 650px;
    margin-top: 70px;
    margin-left: 30px;
    grid-column: 1;
}
.tlgd{
    margin: 200px auto 0px;
    position: relative;
    width: 90%;
    font-size: 50px;
    display: grid;
    grid-column-gap: 70px;
    grid-template-columns: 1fr 1fr 1fr;
    
    
}
.tlgd > div{
    background-color: rgb(8, 126, 126);
    color: #fff;
    padding: 10px;
    border-radius: 20px;  
    transition: transform 0.3s ease,background-color 0.8s ease;
}

.tlgd >div:first-child {
    grid-column: 1;
}
.tlgd >div:last-child {
    grid-column: 3;
}

.tlgd > div:hover{
    transform: scale(1.2);
    background-color:#df9527 ;
}
.qert{
    height: 1000px;
}
.tlgd > div:hover .tlgd-content{
    visibility: visible;

}
.body-main{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}
.tlgd-content{
    font-size: 20px;
    visibility: hidden;
}
.Footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 100%;
    width: 100%;
    background-color: #103157;
    display: flex;
    justify-content: space-between;
    color: #fff;
    z-index: 99;
}
.Footer img {
    padding: 20px;
    width: 600px;
}
.Contact_Info {
    padding: 20px;
    margin-right: 50px;
}

.Contact_Info_Wrapper {
    display: flex;
    font-size: 15px;
    font-weight: 500;
   
    
}
.Contact_Content {
    margin-top: 5px;
}
.Contact_Title > img {
    width: 20px;
}
  
  
/* .content-section h2 {
    transform: translateX(-100%);
    transition: transform 1s ease;
} */

/* .content-section.open h2 {
    transform: translateX(0);
} */
