.SideBar {
   width: 15%;
   height: 100%;
   background-color:royalblue ;
   padding-top: 20px;
   

}
.SideBar-item{
    display: flex;
   
    padding: 10px 0;

}



.icon-img {
    height: 40px;
    width: 40px;
   
}
.SideBar-title-text{
    font-size: 30px;
    color: #fff;
   
    
    margin-right: 15px;
    font-weight: 600;
}
