
.SideBar {
    top: 66px;
    height: 100vh;
    background-color:#002f35c5;
    padding-top: 20px;
    display: inline;
    position: absolute;
    transition: visibility 0.3s ease-in-out;
}
.SideBar.open {
    visibility: visible;
}

.SideBar-item{
    display: flex;
    margin: 15px;
    padding: 10px 0;
    position: relative;
    text-decoration: none;
}
.SideBar-item:hover {
    transition-duration: 300ms;
    transform: scale(1.1);
    /* background-color: #FF7B54;
    border-radius: 10px; */
}
.SideBar-item:active {
    transition-duration: 200ms;
    transform: scale(0.9);
}
.SideBar-item:hover .SideBar-title-text {
  color: #FF7B54;
}

.hidden {
    display: none;
}

.icon-img {
    height: 30px;
    width: 30px;
    margin-left: 5px;
   
}
.SideBar-title-text{
    font-size: 24px;
    color: #fff;
    margin-right: 5px;
    margin-left: 15px;
    font-weight: 500;
}

@media only screen and (max-width: 1000px) {
    
    .SideBar-title-text{
        visibility:hidden;
    }
    .icon-img{
        position: absolute;
        left: 30%;
        margin-top: 16px;
    }
}
