.SideBar {
   width: 14%;
   height: 100%;
   background-color:#002f35c5;
   padding-top: 20px;
   display: inline;

}
.SideBar-item{
    display: flex;
    margin: 15px;
    padding: 10px 0;
    position: relative;
}



.icon-img {
    height: 30px;
    width: 30px;
    margin-left: 5px;
   
}
.SideBar-title-text{
    font-size: 26px;
    color: #fff;
    margin-right: 5px;
    margin-left: 15px;
    font-weight: 500;
}

@media only screen and (max-width: 1000px) {
    
    .SideBar-title-text{
        visibility:hidden;
    }
    .icon-img{
        position: absolute;
        left: 50%;
        
    }
}
