.homeScreen_js-class{
    width: 100%;
    position: absolute;
   
    left: 0;
}
.Body-class{
  grid-template-columns:5fr 1fr;
}
.Header-class{
  
  z-index: 2;
  width: 100%;
}
.admin-mode .Header-class {
  background-color: #FF7B54;
}
.MainContent-class{

}
.Right-Cont-class{
  
}
.Header-class{
    
}