.Faculty_wrapper {
    background-color: #fafdff;
    min-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.Faculty_Header {
    padding: 10px;
    background-color: #8ac3ed;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 30px !important;
}

.Header_Title {
    color:#376bb4;
    font-size: 35px;
}

.Faculty_Content {
    background-color: #ffffff;
    min-height: 100%;
    border-radius: 5px;
    padding: 5px 15px;
}

.Content_wrap {
    padding: 10px;
    font-size: 25px;
    background-color:#d5edff;
    border-radius: 5px;
    margin-bottom: 20px;
}

.Content_Intro {
    background-color: #ff8058;
    padding: 10px;
}

.Content_List {
    color: floralwhite;
}

.Faculty_Table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 2em;
}

.FacultyTable_Head > tr {
    background-color: #376bb4;
    color: #fff;
    text-align: center;
    font-size: 28px;
}

.FacultyTable_Head > tr > th {
    border: solid 1px #000;
}

.FacultyTable_Body {
    background-color: #ffffff;
}

.FacultyTable_Body td {
    padding: 5px 15px;
    border: solid 1px #000;
}
/* TAB */
.tabs_wrapper {
    width: 100%;
    margin: 0 auto;
}

.tabs {
position: relative;
margin: 1rem 0;
background: #1375e7;
height: 14.75rem;
}

.tabs::before,
.tabs::after {
content: "";
display: table;
}

.tabs::after {
clear: both;
}

.tab {
float: left;
}

.tab-switch {
display: none;
}

.tab-label {
position: relative;
display: block;
line-height: 2.75em;
height: 3em;
padding: 0 1.618em;
background: #31a4e5;
border-right: 0.125rem solid #1375e7;
color: #fff;
cursor: pointer;
top: 0;
transition: all 0.25s;
}

.tab-label:hover {
top: -0.25rem;
transition: top 0.25s;
}

.tab-content {
height: -webkit-fill-available;
position: absolute;
z-index: 1;
top: 2.75em;
left: 0;
padding: 0.75rem;
background: #d5edff;
color: #2c3e50;
opacity: 0;
transition: all 0.35s;
min-width: -webkit-fill-available;
}

.tab-switch:checked + .tab-label {
background: #fff;
color: #2c3e50;
border-bottom: 0;
border-right: 0.125rem solid #fff;
transition: all 0.35s;
z-index: 1;
top: -0.0625rem;
}

.tab-switch:checked + label + .tab-content {
z-index: 2;
opacity: 1;
transition: all 0.35s;
}