.topheader{
   display: flex;
   justify-content:space-between;
   height: 66px;
   background-color: #FF7B54;
   width: 100%;
}
.topHeader-part{
    display: flex;
    width: 100px;
}

.topHeader-part:hover {
  cursor: pointer;
}

.Header_Logo{
    height: 50px;
    padding: 8px;
    margin-left: 25px;

}
.nameapp{
  
    color: #fff;
    text-transform: uppercase;
    font-size: 28px;
    width: 50px;

    font-style: normal;
    font-weight: 600;
   
    line-height: 39px;
    margin-top: 15px;
    margin-left: 15px;
   
}
.topHeader-userimg{
    height: 50px;
    padding: 8px;
   

}
.topHeader-part-user{
    width: auto;
margin-right: 20px;
}
.topHeader-user-username{
    color: #000;
    
    font-size: 20px;
    

    font-style: normal;
    font-weight: 600;
   
    line-height: 39px;
    margin-top: 12px;
}

.dropdown-menu {
    width: 12%;
    position: absolute;
    top: 70px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
  }
  
  .dropdown-menu a {
    box-sizing: border-box;
    font-size: 20px;
    display: block;
    color: #333;
    text-decoration: none;
    padding: 5px;
    margin: 10px;
  }
  
  .dropdown-menu a:hover {
    background-color: #eee;
    border-radius: 8px;
  }
  .fa, .fab, .fad, .fal, .far, .fas {
    padding-right: 8px;
  }
  .Login_btn {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-size: 22px;
    height: 100%;
    line-height: 100%;
    font-weight: 600;
  } .Login_btn:hover {
    cursor: pointer;
    opacity: 0.6;
  }
@media only screen and (max-width: 600px) {
    
    .topHeader-user-username{
        visibility:hidden;
    }
  }